body {
    background:#F2DAD8;
    font-family: Arial, Helvetica, sans-serif;
}

.assignments {
    display:flex;
    flex-wrap:wrap;
}

.assignment {
    width:30%;
    padding:10px;
    margin:10px;
    margin-bottom: 30px;
    background:#8C3030;
    border-radius:5px;
    box-shadow: 5px 8px #D95F5F;
}

.assignment img {
    width:200px;
    padding:10px;
    margin-right:20px;
    border-radius:5px;
    display:block;
    margin:auto;
}

h1 {
    color:#D95F5F;
    text-align:center;
}

h2 {
    color:#D95F5F;
}

.assignment a:hover {
    color:#D95F5F;
}

a {
    text-decoration:none;
}